@model System.Collections.Generic.IEnumerable<ProjectManagementSystem.Models.Tasks>


<style type="text/css">
    .medium-priority {
        background-color: #fad850;
    }

    .high-priority {
        background-color: #fa5050;
    }

    .low-priority {
        background-color: #50fa7d;
    }
</style>

<div class="container">
    <div class="row">
        <div class="text-right col-sm">
            @{
                var role = User.Claims.FirstOrDefault(x => x.Value == "Пользователь");
                if (role == null)
                {
                    <a asp-controller="ProjectTasks" asp-action="TaskCreate" class="btn btn-dark">Создать задачу</a>
                }
            }
        </div>
    </div>
    <br />
</div>


<div>
    <div class="row w-100 m-0">
        <div class="col-md-12 m-0 p-0">

            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th scope="col">
                            <a>Название</a>
                        </th>
                        <th scope="col">
                            <a>Приоритет</a>
                        </th>
                        <th scope="col">
                            <a>Техническое задание</a>
                        </th>
                        <th scope="col">
                            <a>Исполнитель</a>
                        </th>
                        <th class="col-1" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string val = string.Empty;
                        if (item.Priorety == 1)
                        {
                            val = "high-priority";
                        }
                        else if (item.Priorety == 2)
                        {
                            val = "medium-priority";
                        }
                        else if (item.Priorety == 3)
                        {
                            val = "low-priority";
                        }
                        <tr class=@val>
                            <td>@item.Name</td>
                            <td>@item.Priorety</td>
                            <td>@item.Description</td>
                            <td>@item.User.Name</td>
                            <td><a asp-controller="ProjectTasks" asp-action="TaskDetail" asp-route-productId="@item.Id">Подробнее</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
