@model System.Collections.Generic.IEnumerable<ProjectManagementSystem.Models.Tasks>


<style type="text/css">
    .medium-priority {
        background-color: #fad850;
    }

    .high-priority {
        background-color: #fa5050;
    }

    .low-priority {
        background-color: #50fa7d;
    }
</style>

<div>
    <div class="row w-100 m-0">
        <div class="table-responsive">
            <h1 class="display-6 text-center">Список задач</h1>
            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th scope="col">
                            <a>Название</a>
                        </th>
                        <th scope="col">
                            <a>Приоритет</a>
                        </th>
                        <th scope="col">
                            <a>Техническое задание</a>
                        </th>
                        <th scope="col">
                            <a>Исполнитель</a>
                        </th>
                        <th class="col-1" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string val = string.Empty;
                        string priorety = string.Empty;

                        if (item.Priorety == 1)
                        {
                            val = "high-priority";
                            priorety = "Критически важно";
                        }
                        else if (item.Priorety == 2)
                        {
                            val = "medium-priority";
                            priorety = "Средний уровень важности";
                        }
                        else if (item.Priorety == 3)
                        {
                            val = "low-priority";
                            priorety = "Низкий уровень важности";
                        }
                        <tr class=@val>
                            <td>@item.Name</td>
                            <td>@priorety</td>
                            <td>@item.Description</td>
                            <td>@item.User.Name</td>
                            <td>
                                <form method="get" asp-controller="ProjectTasks" asp-action="TaskDetail">
                                    <input type="hidden" name="taskId" value="@item.Id">
                                    <button class="btn btn-outline-dark" type="submit">Подробнее</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer class="footer sticky-footer">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-end align-items-center">

                <div style="margin-right: 25px;">
                    <span style="display: inline-block; width: 20px; height: 20px; border-radius: 50%; vertical-align:central; background-color: #fa5050;"></span>
                    <span> - Критически важно</span>
                </div>
                <div style="margin-right: 25px;">
                    <span style="display: inline-block; width: 20px; height: 20px; border-radius: 50%; vertical-align:central; background-color: #fad850;"></span>
                    <span> - Средний уровень важности</span>
                </div>
                <div style="margin-right: 25px;">
                    <span style="display: inline-block; width: 20px; height: 20px; border-radius: 50%; vertical-align:central; background-color: #50fa7d;"></span>
                    <span> - Низкий уровень важности</span>
                </div>

                @{
                    var role = User.Claims.FirstOrDefault(x => x.Value == "Пользователь");
                    if (role == null)
                    {
                        <a asp-controller="ProjectTasks" asp-action="TaskCreate" class="btn btn-dark">Создать задачу</a>
                    }
                }
            </div>
        </div>
    </div>
</footer>
